<nav [ngStyle]="nav.navstyle">
    <div style="display: flex; flex-direction: row;">
        <div style="margin:10px"><span class="glyphicon glyphicon-align-justify"></span></div>
        <div style="margin:10px"> <img style="width:40px;height:40px" src="https://websignx.com/assets/images/websignx_logo.png"> </div>
        <div style="margin:10px"><select style="height:26px"><option style="width:100px" selected Value="All">All</option></select><input type="text"> <button type="submit"><i class="fa fa-search"></i></button></div>
    </div>
</nav>